@media(max-width: 960px) {
  .users-list{
    text-align: center;
  }
  .users-list-buttons {
  text-align: center;
  }
}


.list-group-item {
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #f7f7f7;
}

button {
  margin-right: 0.75rem;
}

.csv-btn {
  margin-top: 1rem;
  margin-left: 1rem;
}
