<div class="row">
  <div class="card col-xs-12 col-md-8">
    <div class="card-header">
      {{user.name}} | {{user.email}}
    </div>
    <div class="card-body">
      Roles: <span *ngFor="let role of user.roles">{{ role.name }} </span>
      <hr>
     Permissions:
     <div *ngFor="let role of user.roles">
       <div *ngFor="let permission of role.permissions">
         {{permission}}
       </div>
     </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <app-user-info-form></app-user-info-form>
  </div>
</div>
